* {
    font-family: Helvetica;
}
body {
	margin: 0;
    background-color: #03193a;
}

h1 {
    color: #3c6096;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.21);
}

#menu {
    z-index: 0;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #242424;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#menu li {
    float: left;
}

#menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover, .dropdown:hover .dropbtn {
    background-color: #03193a;
}

#menu li.dropdown {
    display: inline-block;
}

#menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #042254;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#menu .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#menu .dropdown-content a:hover {
    background-color: #242424;
}

#menu .dropdown:hover .dropdown-content {
    display: block;
}

#fondoHome {
    width: 100%;
    height: 45%;
    margin-top: 45px;
    padding-top: 45px;
    background-image: url("../img/monte.jpg");
    background-size: cover;
    background-size: 100% 150%;
}

#fondoHome h1 {
    margin-top: 0%;
    font-family: Helvetica;
    color: white;
    text-align: center;
}

#textoHome {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 7%;
    background-color: #03193a;
    color: white;
    width: 80%;
    height: 40%;
}

#registros{
    margin: 5px;
    float: left;
    width:20%;
    list-style-type:none; 
}

.actividades{
    margin: 5px;
    float: left;
    width:35%;
    list-style-type:none; 
}

.item {
    list-style-type:none; 
}

.listReg {
    float: left;
    width: 20%;
}

.listAct {
    float: left;
    width: 40%;
}

.listCons {
    float: left;
    width: 40%;
}

.listFoto {
    display: block;
    margin: 0 auto;
}

.contenidoPagina {
  width: 50%;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
}

#contenidoConsultaArticulos p{
   margin-top: 30px;
}

#grafica{
  width: 100%;
  margin: 0 auto;
}

.form input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form input, select {
    margin: 8px 0;
}

.form textarea {
    height: 150px;
    resize: none;
}

.button {
    background-color: #042254;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3px;    
}

.button:disabled{
  background-color: gray;
}

.divFotoQR{
    width: 100%;
    height: 250px; 
    display: flex;
}

.catFotoQR{
    float: left;
    padding: 1px; 
    border:2px solid #042254;
    width: 200px;
    height: 200px;
    border-radius: 3px;
}

.catFoto{
    width: 200px;
    height: 200px;
}

#container{
    margin-left: 30%;
    background-color: white;
}

.divFiltrar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#filtrarCat{
    width: 20%;
    margin-left: 0;
    margin-right: 0;
}

body select.select_box {
    max-width: 100%;
    background: url("../img/selectbox_arrow.png") right center no-repeat;
    background-color: white;
    line-height: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

body select.select_box option {
    background-color: #042254;
    color: white;
}

/*Tablas*/

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color: #D5DDE5;
  background: #042254;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}
 
th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}
 
tr:nth-child(odd) td {
  background: #EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background: #4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
 
td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}